/* Common CSS for all pages */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 7.5%;
  background-color: rgb(120, 0, 180);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo-pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.logo-text {
  font-size: 18px;
  font-weight: 500;
  color:azure;
}

.nav ul {
  display: flex;
  gap: 16px;
}

.nav a {
  text-decoration: none;
  color: aliceblue;
}

.nav a:hover {
  color: red;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3% 7.5%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 7.5%;
}

/* CSS for index.html */

.intro-text {
  max-width: 600px;
  font-family: "Roboto", serif;
  font-style: italic;
  font-size: 48px;
}

.index-img {
  max-height: 500px;
  width: auto;
  border-radius: 5%;
  margin: 10% 0;
}


/* CSS for skills.html */

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 7.5%;
  background-color: rgb(120, 0, 180);
  color: azure;
}

.skills-heading {
  padding: 16px;
  font-size: 36px;
  font-weight: 500;
}

.technologies {
  padding: 16px;
  font-size: 30px;
  font-weight: 500;
}

#skills li {
  font-size: 24px;
}